<library path="src">
  <class name="RossiGraph" type="rossi_plugin.Window.ROSSi" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to develop ROS 2 projects.
    </description>
    <qtgui>
      <group>
        <label>ROSSi</label>
        <icon type="theme">folder</icon>
        <statustip>The ROSSi Plugin.</statustip>
      </group>
      <label>ROSSi</label>
      <icon type="theme">preferences-system-network</icon>
      <statustip>A Python GUI plugin to develop ROS 2 projects.</statustip>
    </qtgui>
  </class>
</library>
